<ul class="links">
  <!-- <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Theme Home</a></li> -->
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/page/' %} active {% endif %}"><a href="https://drive.google.com/open?id=1SwopeW7hrWdJtQ2hC-EZmiHxNQ1azsuk" target="_blank">CV</a></li>
  <li class="{% if page.url contains '/research/' %} active {% endif %}"><a href="{{ "/research/" | absolute_url }}">Research</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Blog</a></li>

  <!-- photo grid -->
  <li class="{% if page.url contains '/photo/' %} active {% endif %}"><a href="{{ "/photo/" | absolute_url }}">Music</a></li>

</ul>
